@import url("https://v1.fontapi.ir/css/Vazir");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
@import url("https://smll.ir/gitcdnfontiransans");

body {
  direction: rtl;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header,
.headerMenu,
.product,
.page-builder,
.product_action {
  font-family: Vazir, sans-serif;
}

.sub_title {
  font-family: Vazir, sans-serif;
  font-weight: 400;
}
.down_title,
.header_title {
  font-family: dana, IRANSans, Tahoma, sans;
  font-weight: 400;
}
.product {
  font-family: dana, IRANSans, Tahoma, sans;
}
.product_body,
.product_footer {
  font-family: IRANSans, Tahoma;
}
#first_name {
  font-family: Vazir, sans-serif;
  padding-right: 22%;
}
.cards,
.card1 {
  width: 100%;
}
.footer_productPrice .text-white {
  background: linear-gradient(180deg, #ffcf69, #ffb563);
}
.product_footer {
  border-top: 1px dashed #959595 ;
}
.product{
  position: relative;
  width: 100%;
}
.product:hover .body_category {
  visibility: hidden;
}
.card1 .product:hover  .product_footer {
  margin-top: -17%;
}
.product_footer {
  transition: 0.3s ease-in-out;
}

.product .product_action{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  padding: 0px;
  opacity: 0;
  transition: 0.3s;
}
.product:hover .product_action{
  height: 75px;
  opacity: 1
}  

@tailwind base;
@tailwind components;
@tailwind utilities;
